@if(globannots.length)
{
<ngx-extended-pdf-viewer #pdfViewer 

[src]="pdfSrc"


[showToolbar]="true" [showHandToolButton]="true"
  [showOpenFileButton]="true" [showPrintButton]="true" [showSecondaryToolbarButton]="true" [showSidebarButton]="true"
  [textLayer]="true" [zoom]="100" [pageViewMode]="pageViewMode" [rotation]="pageRotaion" [showHighlightEditor]="true"
  [showDrawEditor]="true" [showStampEditor]="true" [relativeCoordsOptions]="1" [handTool]="false" [showBorders]="false"
  [(page)]="currentPage" (pageChange)="onPageChange($event)" (pageRendered)="onPageRendered($event)"
  (textLayerRendered)="onTextLayerRendered($event)" (layersloaded)="onLayersLoaded($event)"
  (xfaLayerRendered)="onXfaLayerRendered($event)" (annotationLayerRendered)="onAnnotationLayerRendered($event)" (mouseup)="OnMouseUp($event)">
</ngx-extended-pdf-viewer>
}




<!-- <app-resizable-rectangle>
</app-resizable-rectangle>  -->
