

<!-- <input type="text" (keyup.enter)="search($event)" />
<button (click)="previousSearch()">Previous</button>
<button (click)="nextSearch()">Next</button>

<button (click)="getSerializeAnnot()">get ANNOT</button>

<button (click)="setMode()">PDF MODE 9</button>



<button (click)="setPDFRange()">RANGE</button>

<button (click)="addDrawing()">ADD ANNOT</button>

<pdf-shy-button
  title="Highlight"
  primaryToolbarId="primaryEditorHighlight"
  [cssClass]="show | responsiveCSSClass : 'hiddenTinyView'"
  l10nId="pdfjs-editor-highlight-button"
  l10nLabel="pdfjs-editor-highlight-button-label"
  [order]="4000"
  [action]="onClick"
  [toggled]="isSelected"
  [closeOnClick]="true"
  image="<svg width='20px' height='20px' viewBox='0 0 24 24'> <path fill='currentColor' d='M18.5,1.15C17.97,1.15 17.46,1.34 17.07,1.73L11.26,7.55L16.91,13.2L22.73,7.39C23.5,6.61 23.5,5.35 22.73,4.56L19.89,1.73C19.5,1.34 19,1.15 18.5,1.15M10.3,8.5L4.34,14.46C3.56,15.24 3.56,16.5 4.36,17.31C3.14,18.54 1.9,19.77 0.67,21H6.33L7.19,20.14C7.97,20.9 9.22,20.89 10,20.12L15.95,14.16' /></svg>"
>
</pdf-shy-button>

<pdf-highlight-editor [show]="true"></pdf-highlight-editor>

<ngx-extended-pdf-viewer #pdfViewer

  [src]="pdfSrc"
  [showToolbar]="true"
  [showHandToolButton]="true"
  [showOpenFileButton]="true"
  [showPrintButton]="true"
  [showSecondaryToolbarButton]="true"
  [showSidebarButton]="true"
  [textLayer]="true"
  [zoom]="100"
  [pageViewMode]="pageViewMode"
  [rotation]="pageRotaion"
  [showHighlightEditor]="true"
  [showDrawEditor]="true"
  [showStampEditor]="true"
  [logLevel]="1"
  [relativeCoordsOptions]="1"
  [handTool]="false"
  [showBorders]="true"  
  [(page)]="currentPage"

  (pageRendered)="onPageRendered($event)"
  (textLayerRendered)="onTextLayerRendered($event)"
  (annotationLayerRendered)="onAnnotationLayerRendered($event)"
  (annotationEditorLayerRendered)="onAnnotationEditorLayerRendered($event)"
  (xfaLayerRendered)="onXfaLayerRendered($event)"
  (outlineLoaded)="onOutlineLoaded($event)"
  (layersloaded)="onLayersLoaded($event)"
  (findbarVisibleChange)="onFindbarVisibleChange($event)"
  (spreadChange)="onSpreadChange($event)"

  (pdfLoadingStarts)="onPdfLoadingStarts($event)"
  (pdfLoaded)="onPdfLoaded($event)"
  (annotationEditorEvent)="onAnnotationEditorEvent($event)"
  (annotationEditorModeChanged)="onAnnotationEditorModeChanged($event)"
  (updateFindState)="onUpdateFindState($event)"
  (progress)="onProgress($event)"
  (srcChange)="onSrcChange($event)"
  (pageChange)="onPageChanged($event)"
  (pagesLoaded)="onPagesLoaded($event)"
  (updateFindMatchesCount)="onUpdateFindMatchesCount($event)"
  (zoomChanged)="onZoomChanged($event)"
  (beforeAnnotationCreated)="onAnnotationCreated($event)"


>
</ngx-extended-pdf-viewer> -->


<!-- [customToolbar]="true" -->
<!-- (pageRendered)="onPageRendered($event)"
(textLayerRendered)="onTextLayerRendered($event)"
(pageChanged)="onPageChanged($event)"
(zoomChanged)="onZoomChanged($event)"
(rotationChanged)="onRotationChanged($event)"
(pageInitialized)="onPageInitialized($event)"
(pagesInitialized)="onPagesInitialized($event)"
(scaleChanged)="onScaleChanged($event)"
(error)="onError($event)"
(onProgress)="onProgress($event)"
(pageMode)="onPageMode($event)"
(pageSizeChanged)="onPageSizeChanged($event)"
(linkClicked)="onLinkClicked($event)"
(findResultsCount)="onFindResultsCount($event)"
(getCurrentPage)="onGetCurrentPage($event)"
(searchComplete)="onSearchComplete($event)"
(beforePrint)="onBeforePrint($event)"
(afterPrint)="onAfterPrint($event)" -->

<!-- [src]="pdfSrc"
[showToolbar]="true"
[showSidebarButton]="true"
[showFindButton]="true"
[showPagingButtons]="true"
[showZoomButtons]="true"
[showPresentationModeButton]="true"
[showOpenFileButton]="true"
[showPrintButton]="true"
[showDownloadButton]="true"
[showSecondaryToolbarButton]="true"
[showRotateButton]="true"
[showHandToolButton]="true"
[showScrollingButton]="true"
[showSpreadButton]="true"
[showPropertiesButton]="true"
[textLayer]="true"
[sidebarVisible]="false"
[language]="'en-US'"
[backgroundColor]="'#FFFFFF'"
[maxZoom]="5"
[minZoom]="0.1"
[zoom]="1"
[rotation]="0"
[handTool]="false"
[showScrollingButton]="true" -->


<pdf></pdf>


<!-- <app-resizable-rectangle>
  
</app-resizable-rectangle> -->